.footer-area{
  background: #FFBB00;
  color: #000;
  padding:5px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.footer-info svg {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.footer-info svg:hover{
  color: azure;
  
}
.footer-down-info p {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .footer-info {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}