 .carousel-item .carousel-caption {
  text-align: left;
  top: 25%;
}
.carousel-caption h1 {
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}
.carousel-caption p {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
}
.btn.btn-one {
    margin-top: 15px;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
}
.btn.btn-one:hover{
  background-color: #FFBB00;
  color: #fff;
}

/* responsive */
@media only screen and (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.carousel-caption p {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  margin-top: 10px;
}
.btn.btn-one {
  margin-top: 0;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 480px) { 
  .carousel-item .carousel-caption {
    top: 12%;
}
.carousel-caption h1 {
  font-size: 20px;
}
.carousel-caption p {
  font-size: 14px;
  margin-top: -5px;
}
.btn.btn-one {
  margin-top: 0;
  font-size: 16px;

}

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 350px) {
  .carousel-item .carousel-caption {
    top: 14%;
}
  .carousel-caption h1 {
    font-size: 20px;
}
.carousel-caption p {
  font-size: 12px;
  margin-top: 0;
}
.btn.btn-one {
  margin-top: -14px;
  font-size: 8px;
}

}
