.underline {
  border-bottom-width: 2px;
 }
 .navbar-light .navbar-brand {
  color: #FFBB00;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: all ease-in 3ms;
  
}
.navbar-light .navbar-brand:hover{
  color: #FFBB00;
}
.nav-link {
  color: #3A3D45;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px;
}