.p-card {
  height: 650px;
}
.card-body {
  height: 350px;
}
img.card-img-top {
  height: 250px;
}
.btn-area {
  position: absolute;
  bottom: 3%;
  right: 40%;
}
.h-color{
  color: #3A3D45;
  font-weight: 700;
  font-size: 18px;
  margin-right: 10px;
}
.n-color {
  color: #3A3D45;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}
.d-color{
  color: #3A3D45;
  font-weight: 500;
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 320px) {
  .p-card {
    height: 700px;
  }
}