
th {
  color: #FFBB00;
  padding: 5px;
  font-weight: 700;
}

td {
  padding: 5px;
  font-weight: 500;
}
.u-btn {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 667px) and (max-width: 767px) {
  .manage-area {
    margin-right: 20%;
  }
}

